<div>

  <h2 class="ui dividing header">Cadastro de Produtos</h2>

  <app-produtos-grid
    [produtos]="produtos"
    (rowSelected)="onRowSelected($event)"
  >
  </app-produtos-grid>

  <br />
  <a href="#" class="ui secondary button">
    <i class="plus icon"></i>
    Novo Produto
  </a>

  <a href="#" class="ui secondary button"
          [class.disabled]="btnAlterarDisabled" >
    <i class="edit icon"></i>
    Alterar Produto
  </a>

  <button class="ui negative button" style="float:right"
          [class.disabled]="btnExcluirDisabled" (click)="onExcluir()" >
    <i class="trash icon"></i>
    Excluir Produto
  </button>

</div>
