<!doctype html>
<html ng-app="vendas">
<head>
	<meta charset="utf-8" />
	<title>Controle de Vendas Simples</title>
	<link rel="stylesheet" href="vendor/semantic/dist/semantic.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="ng-table.min.css" />
	<script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>
	<script src="vendor/semantic/dist/semantic.min.js"></script>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-route/angular-route.min.js"></script>
	<script src="vendor/angular-resource/angular-resource.min.js"></script>
	<script src="vendor/angular-i18n/angular-locale_pt-br.js"></script>
	<script src="ng-table.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/services/ProdutoService.js"></script>
	<script src="js/controllers/ProdutosController.js"></script>
	<script src="js/controllers/ProdutoController.js"></script>
</head>

<body>
	<div class="ui vertical inverted left fixed menu" id="mainMenu">
		<a class="item" href="#/produtos" id="produtos">Cadastro de Produtos</a>
		<a class="item" href="#">Lançamento de Venda</a>
		<a class="item" href="#">Histórico de Vendas</a>
	</div>
	<div id="divMain">
		<div class="ui basic segment">
			<div ng-view></div>
		</div>
	</div>
</body>

</html>
