<div>
  <h2 class="ui dividing header">Lançamento de Venda</h2>

  <div-message [status]="status"></div-message>

  <form [formGroup]="vendasLancForm" class="ui form">

    <div class="fields">
      <div class="field">
        <label>DATA</label>
        <sm-calendar id="dataVenda" formControlName="dataVenda"></sm-calendar>
      </div>
    </div>

    <div class="fields">
      <div class="eight wide field">
        <label>PRODUTO</label>
        <sm-select id="searchProduto" size="small" search="true"></sm-select>
      </div>
      <div class="two wide field">
        <label>QTDE.</label>
        <div class="ui small input">
          <input type="number" min="0" max="" />
        </div>
      </div>
      <div class="two wide field">
        <label>VALOR UNIT.</label>
        <input-money id="valorUnit" size="small"></input-money>
      </div>
    </div>

  </form>
</div>
