<h2 class="ui dividing header">Cadastro de Produtos</h2>

<div class="ui error message" ng-show="status.erros.length">
    <div class="ui header">{{status.msg}}</div>
    <ul class="list">
        <li ng-repeat="erro in status.erros">{{erro}}</li>
    </ul>
</div>

<div class="divTable">
	<table ng-table="produtosTable" show-filter="true" class="ui table fixed very compact striped selectable">
		<colgroup>
			<col />
			<col width="48%" />
			<col />
			<col />
			<col />
			<col width="12%" />
			<col />
		</colgroup>
		<tr ng-repeat="produto in $data" ng-class="{ 'negative': produto.status == 'Baixo' }">
			<td data-title="'CÓDIGO'" sortable="'codigo'" filter="{'codigo':'number'}">
				{{produto.codigo}}
			</td>
			<td data-title="'DESCRIÇÃO DO PRODUTO'" sortable="'descricao'" filter="filterDef">
				<a ng-href="#/produto/{{produto._id}}">{{produto.descricao}}</a>
			</td>
			<td data-title="'QTDE.'" sortable="'qtde'" filter="{'qtde': 'number'}">
				{{produto.qtde | number}}
			</td>
			<td data-title="'ESTOQUE MÍNIMO'" sortable="'estoqueMin'" filter="{'estoqueMin': 'number'}">
				{{produto.estoqueMin | number}}
			</td>
			<td data-title="'STATUS'" sortable="'status'" filter="{'status': 'text'}"
				ng-class="{'positive': produto.status == 'Normal'}">
				{{produto.status}}
			</td>
			<td data-title="'VALOR UNITÁRIO'" sortable="'valor'" filter="{'valor': 'number'}">
				{{produto.valor | currency:"R$ "}}
			</td>
			<td>
				<button class="ui mini compact grey button btnExcluir" data-position="left center">
					Excluir
				</button>
                <div class="ui popup warning message">
                    Deseja realmente excluir este produto? &nbsp;
                    <button class="ui compact grey button" ng-click="remove(produto)" onclick="$('.btnExcluir').popup('hide')">Sim</button>
                    <button class="ui compact teal button" onclick="$('.btnExcluir').popup('hide')">Não</button>
                </div>
                <script>
                    $(".btnExcluir").popup({
                        inline: true,
                        popup: $(".popup"),
                        on: 'click'        
                    }); 
                </script>
			</td>
		</tr>
		<tfoot>
			<tr>
				<td colspan="2">
					<a ng-href="#/produto/novo" class="ui compact secondary button">Novo Produto</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<script>
$(document).ready(function(){  
    if (!$("#produtos").hasClass("active")){
        $("#mainMenu a").removeClass("active teal");
        $("#produtos").addClass("active teal");
    }
})
</script>
