<h2 class="ui dividing header">Cadastro de Produtos</h2>

<div class="ui message" ng-show="status.salvo || status.erros.length" 
     ng-class="{ 'success': status.salvo, 'error': status.erros.length > 0 }">
    <div class="header">{{status.msg}}</div>
    <ul class="list" ng-show="status.erros.length > 0">
       <li ng-repeat="erro in status.erros">{{erro}}</li>
    </ul>
</div>

<form class="ui form">
    <div class="fields">
        <div class="two wide field">
            <label>CÓDIGO</label>
            <input type="text" ng-model="produto.codigo" disabled="disabled" />
        </div>
        <div class="fourteen wide field">
            <label for="descricao">DESCRIÇÃO DO PRODUTO</label>
            <input type="text" name="descricao" id="descricao" maxlength="100" autocomplete="off" 
                   ng-model="produto.descricao" ng-blur="toUpper()" focus-me="focusDescricao"/>
        </div>
    </div>

    <div class="fields">
        <div class="two wide field">
            <label for="qtde">QTDE.</label>
            <input type="number" name="qtde" id="qtde" min="" max="" ng-model="produto.qtde"/>
        </div>
        <div class="field">
            <label for="unid">UNIDADE</label>
            <div class="ui selection dropdown" id="selectUnid" ng-model="produto.unidade" dropdown>
                <i class="dropdown icon"></i>
                <div class="default text"></div>
                <div class="menu">
                    <div class="item" data-value="UN">UN</div>
                    <div class="item" data-value="PÇ">PÇ</div>
                    <div class="item" data-value="CX">CX</div>
                    <div class="item" data-value="KG">KG</div>
                    <div class="item" data-value="M">M</div>
                    <div class="item" data-value="M²">M²</div>
                    <div class="item" data-value="M³">M³</div>
                    <div class="item" data-value="L">L</div>
                </div>
            </div>
        </div>
        <div class="three wide field">
            <label for="estoqueMin">ESTOQUE MÍNIMO</label>
            <input type="number" name="estoqueMin" id="estoqueMin" min="" max="" ng-model="produto.estoqueMin" />
        </div>
        <div class="field">
            <label for="valorMasked">VALOR UNITÁRIO</label>
            <input type="text" name="valorMasked" id="valorMasked" ng-model="produto.valor" autocomplete="off" masked />
        </div>
    </div>
</form>

<button ng-click="salva(); focusDescricao=true" class="ui teal button">Salvar</button>
<a ng-href="#/produtos" class="ui grey button">Voltar</a>

<script>
$(document).ready(function(){
    $("#descricao").focus();

    $("#valorMasked").maskMoney({
        prefix: 'R$ ',
        allowNegative: false,
        thousands: '.',
        decimal: ',',
        affixesStay: true
    });

    $("input[type=number]").attr("min", "0");
    $("input[type=number]").attr("man", "9999999");
    
    if (!$("#produtos").hasClass("active")){
        $("#mainMenu a").removeClass("active teal");
        $("#produtos").addClass("active teal");
    }
});
</script>
