<!doctype html>
<html ng-app="vendas">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="vendor/semantic/dist/semantic.min.css" />
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/semantic/dist/semantic.min.js"></script>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-route/angular-route.min.js"></script>
	<script src="vendor/angular-resource/angular-resource.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
<div>Teste</div>
</body>
</html>
