<div>

  <h2 class="ui dividing header">Cadastro de Produtos</h2>

  <div class="ui error message" [hidden]="!status.erros.length">
    <div class="ui header">{{ status.msg }}</div>
    <ul class="list">
      <li *ngFor="let erro of status.erros">{{ erro }}</li>
    </ul>
  </div>

  <form class="ui form">

    <div class="fields">

      <div class="two wide field">
        <label>CÓDIGO</label>
        <input type="text" disabled />
      </div>

      <div class="fourteen wide field">
        <label for="descricao">DESCRIÇÃO DO PRODUTO</label>
        <input type="text" id="descricao" maxlength="100" autocomplete="off" />
      </div>

    </div>

    <div class="fields">

      <div class="two wide field">
        <label for="qtde">QTDE.</label>
        <input type="number" id="qtde" min="0" max=""/>
      </div>

      <div class="field">
        <label for="unid">UNIDADE</label>
        <div class="ui selection search dropdown" sm-dropdown id="selectUnid">
          <input type="hidden" name="unidade"/>
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            <div class="item" data-value="UN">UN</div>
            <div class="item" data-value="PÇ">PÇ</div>
            <div class="item" data-value="CX">CX</div>
            <div class="item" data-value="KG">KG</div>
            <div class="item" data-value="M">M</div>
            <div class="item" data-value="M²">M²</div>
            <div class="item" data-value="M³">M³</div>
            <div class="item" data-value="L">L</div>
          </div>
        </div>
      </div>

      <div class="three wide field">
        <label for="estoqueMin">ESTOQUE MÍNIMO</label>
        <input type="number" id="estoqueMin" min="0" max="" />
      </div>

      <div class="field">
        <label for="valorUnit">VALOR UNITÁRIO</label>
        <input type="text" id="valorUnit" autocomplete="off" currencyMask />
      </div>

    </div>

  </form>

  <button class="ui teal button">Salvar</button>
  <a routerLink="/produtos" class="ui grey button">Voltar</a>

</div>
